table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 80px;
    width: 500px;
}

td {
    width: 30%;
}

img {
    height: 80px;
    border-radius: 4px;
}

.blur {
    filter: blur(3px);
}

.camt {
    padding-right: 0;
}